<main>
    <div>
        <b>
            eShare
        </b>
        <hr>
        <span>
            <em>
                This a little initiative form my side which allows us share file(s) about 10 MB anonymously
            </em>
        </span>
        <br>
        <span>
            &copy; 2022 <b>eShare</b> all rights reserved.
        </span>
    </div>
    <div>
        <b>
            DEVELOPER DETAILS
        </b>
        <hr>
        <span>
            <a href="mailto:dizzytechnician@gmail.com">
                Email
            </a>
            <br>
            <a target="_blank" href="https://github.com/mrsumanbiswas">
                Github
            </a>
            <br>
            <a target="_blank" href="https://twitter.com/mrsumanbiswas0">
                Twitter
            </a>
            <br>
            <a target="_blank" href="https://www.reddit.com/user/mrsumanbiswas">
                Reddit
            </a>
            <br>
            <a target="_blank" href="https://linkedin.com/in/mrsumanbiswas">
                Linkedin
            </a>
        </span>
    </div>
</main>