<h1>Upload a photo</h1>
<div>
    <div style="overflow: auto;margin: 1rem;">
        <img mat-card-image #previewImage [src]="previewPhoto">
    </div>
    <input #photoInput name="photo" title="photo" id="photo" type="file" accept=".jpg,.jpeg,.png"
        (change)="upload.style.display = photoSelected(photoInput.files)?'':'none'; previewImage.style.display = photoSelected(photoInput.files)?'':'none'; ">
    <button #upload (click)="uploadPhoto();upload.disabled=true;"
        style="display: none; border-radius: 2rem;">UPLOAD</button>
</div>
<mat-card-footer>
    <mat-progress-bar color="primary" [bufferValue]="100" [value]="uploadfraction*100"
        (animationEnd)="upload.disabled=false;">
    </mat-progress-bar>
</mat-card-footer>