<div style="border: 1px black solid; margin-bottom: 3rem; padding: 1rem;">
    <app-upload></app-upload>
</div>

<!-- on data loads -->
<div id="postedPhotos" *ngIf="postData">
    <mat-card *ngFor="let post of postData">
        <mat-card-header>
            <mat-card-subtitle>{{post.name}}</mat-card-subtitle>
        </mat-card-header>
        <div style="overflow: auto;">
            <img [src]="post.url" alt="image" mat-card-image #image>
        </div>
        <span>{{image.naturalWidth}}x{{image.naturalHeight}}</span>
        <mat-card-actions>
            <button mat-icon-button color="warn" [disabled]="!post.deleteAble"
                (click)="deleteData(post.id); post.deleteAble = false;download.disabled=true;">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
            <button #download mat-icon-button style="float: right;" (click)="downloadData(post.url,post.name)">
                <mat-icon>
                    download
                </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>